<footer class="footer">
  <small>
    <%= link_to 'Go Link Redirector', 'http://github.com/juliusv/go_link_redirector' %>
    by
    <%= link_to 'Julius Volz', 'http://juliusv.com' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Contact', "mailto:#{APP_CONFIG['contact_email']}" %></li>
    </ul>
  </nav>
</footer>
